html,
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  color: white;
  background-color: #ffebb6;
}

.main-menu {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 85px;
  margin-top: 1rem;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 0;
  left: 0.25rem;
  font-size: 2.5rem;
  margin: 0;
  color: black;
  font-family: "Bungee", cursive;
  margin-left: 15px;
  cursor: pointer;
}

.pow {
  font-size: 2.5rem;
  color: red;
  font-family: "Bungee Shade", cursive;
}

.sumo {
  position: absolute;
  right: -15rem;
  bottom: -8rem;
}

.main-menu-btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: -50px;
}

#play {
  font-size: 6rem;
  color: rgb(255, 0, 0);
  margin-bottom: -2rem;
}

#play:hover {
  color: maroon;
}

.main-menu-btn-container > button {
  margin-left: 30px;
  background-color: none;
  background: none;
  border-radius: 10px;
  width: fit-content;
  border: none;
  font-size: 2rem;
  color: black;
  font-family: "Bungee", cursive;
  cursor: pointer;
}

#closed {
  opacity: 0.4;
  cursor: default;
  margin-top: -1rem;
}

#closed:hover {
  opacity: 0.4;
  color: black;
}

.main-menu-btn-container > button:hover {
  color: white;
  cursor: pointer;
}

.rooms {
  display: flex;
  flex-direction: column;
  background-color: rgb(22, 22, 22);
  width: 1300px;
  height: 700px;
  align-self: center;
  box-shadow: 0px 0px 2px 1px black;
  border-radius: 1%;
  position: relative;
  font-family: cursive;
  overflow-y: scroll;
  background-color: rgb(50, 50, 50);
}

/* .rooms > :first-child {
  margin-top: 4rem;
} */

.room {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  border-top: grey solid 1px;
  border-bottom: grey solid 1px;
  background-color: rgb(25, 25, 25);
}

.room > button {
  margin: 10px;
  padding: 10px 25px;
  background-color: green;
  border: none;
  border-radius: 5%;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  font-family: "Bungee", cursive;
  text-align: center;
}

.room > button:hover {
  background-color: rgba(0, 128, 0, 0.35);
}

.room-id {
  font-family: "Bungee";
  font-size: 1.6rem;
  margin-left: 1rem;
}

.room-count {
  font-family: Tahoma, sans-serif;
  font-size: 1.3rem;
}
/* 
.back-btn {
  position: absolute;
  left: -300px;
  bottom: -10px;
  background-color: black;
  margin-top: 100px;
  padding: 5px 25px;
  border-radius: 10px;
  border: 1px black solid;
  font-size: 1.6rem;
  color: white;
  font-family: "Bungee", cursive;
  text-align: start;
  margin-left: 20px;
  cursor: pointer;
} */

.back-btn:hover {
  background-color: gray;
  cursor: pointer;
  border: none;
}

.refresh-btn {
  border-radius: 10px;
  border: none;
  color: black;
  right: 0;
  align-self: flex-end;
  padding: 0.5rem;
  margin: 0.3rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.refresh-btn:active {
  color: white;
  background-color: grey;
}

.refresh-btn:active {
  background-color: gray;
}

.ui {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding-bottom: 1rem;
}

.ui-container {
  height: fit-content;
}

.wins {
  font-size: 1000px;
}

.ui-player-container {
  position: relative;
}

.ui-player-name {
  font-family: "Bungee";
  font-size: 1.2em;
}

#ui-name-1 {
  color: aqua;
  position: absolute;
  top: -2.2rem;
  left: 3.1rem;
}
#ui-name-2 {
  color: salmon;
  position: absolute;
  top: -2.2rem;
  right: 3.2rem;
}

.ui-player-stamina-container {
  background-color: black;
  width: 14rem;
  height: 2rem;
  border: rgba(71, 71, 71, 0.7) solid 2px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
}

.ui-player-stamina-red,
.ui-player-stamina-yellow {
  height: 100%;
}

.ui-player-stamina-red {
  position: absolute;
  z-index: 2;
}

.ui-player-stamina-yellow {
  position: absolute;
  z-index: 99;
}

.hakkiyoi {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: #fff;
  text-align: center;
  opacity: 1; /* Start invisible */
  transition: opacity 2s ease-out; /* Fade out in 2 seconds */
  pointer-events: none;
  font-family: "Bungee";
  letter-spacing: 0.1em;
}

.game-container {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  align-self: center;
  width: 1300px;
  height: 720px;
  background-image: url(./assets/game-map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: solid 2px black;
}

/* .game-container > [src*="daibaStanding"] {
  height: 165px;
}

.game-container > [src*="daibaDiving"] {
  height: 130px;
}

.game-container > [src*="daibaJumping"] {
  height: 180px;
}

.game-container > [src*="daibaHit"] {
  height: 165px;
}

.game-container > [src*="daibaDeath"] {
  height: 100px;
  opacity: 0.7;
}

.game-container > [src*="standing"] {
  height: 160px;
}

.game-container > [src*="dinkeyDiving"] {
  height: 165px;
  width: 110px;
}

.game-container > [src*="dinkeyHit"] {
  height: 155px;
} */
