.lobby {
  display: flex;
  justify-content: space-between;
  height: 80vh;
  margin-left: 13%;
  margin-right: 13%;

  position: relative;
}

img {
  height: 350px;
}

.player-lobby {
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.player-side {
  font-family: "Bungee Outline", cursive;
}

.fighter1 {
}

.fighter2 {
  transform: scaleX(-1);
}

.select-penguin-txt {
  position: absolute;
  top: -175px;
  width: 338px;
  text-align: center;
}

.fighter-select {
  color: black;
  font-size: 14pt;
  font-family: "Bungee Outline", cursive;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  left: 43%;
  top: 30%;
}

.fighter-select > button {
  height: 150px;
  width: 150px;
}

.exit-btn {
  position: absolute;
  bottom: 0;
  left: -150px;
  background-color: white;
  border-radius: 10px;
  border: 2px black solid;
  font-size: 21pt;
  color: black;
  font-family: "Bungee Outline", cursive;
  text-align: start;
}

.exit-btn:hover {
  background-color: rgba(12, 12, 12, 0.75);
  cursor: pointer;
  border: 1px black solid;
}
