.match-over-container {
  background-image: linear-gradient(
    rgb(102, 102, 102),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(102, 102, 102)
  );
  z-index: 200;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 40%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: clamp(0.2rem, 1cqw, 1.25rem);
  transform: translate(-50%, -50%);
  border-radius: 2%;
  border: rgb(255, 255, 255) 0.2cqw solid;
}

.rematch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.2rem, 1cqw, 1.25rem);
  width: 100%;
  height: 50%;
}

.rematch-winner {
  font-family: "Bungee";
  font-size: clamp(0.5rem, 4cqw, 2.5rem);
  justify-self: flex-start;
  color: lime;
  padding-bottom: 10%;
}

.rematch-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding-bottom: 5%;
}

.rematch-ready-btn,
.rematch-cancel-btn {
  font-size: clamp(0.5rem, 4cqw, 2.5rem);
  background-color: forestgreen;
  padding: 8% 4%;
  border: none;
  border-radius: 2%;
  color: white;
  cursor: pointer;
  font-family: "Bungee", cursive;
  opacity: 1;
  width: 250px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rematch-cancel-btn {
  background-color: red;
}

.rematch-exit-btn {
  font-size: clamp(0.3rem, 2cqw, 1.25rem);
  background-color: black;
  font-family: "Bungee", cursive;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  padding: 1% 3%;
}

.win-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.win-text,
.lose-text {
  font-size: clamp(0.25rem, 2cqw, 1.25rem);
  color: gainsboro;
}
