.match-over-container {
  background-image: linear-gradient(
    rgb(102, 102, 102),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgb(102, 102, 102)
  );
  z-index: 200;
  position: absolute;
  top: 45%;
  left: 50%;
  width: 40%;
  height: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-size: clamp(0.2rem, 1vw, 1.25rem);
  transform: translate(-50%, -50%);
  border-radius: 2%;
  gap: 20%;
  border: rgb(220, 220, 220) 0.5vw solid;
}

.rematch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5vh;
  font-size: clamp(0.2rem, 1vw, 1.25rem);
  width: 20%;
}

.rematch-winner {
  font-family: "Bungee";
  font-size: clamp(0.5rem, 4vw, 2.5rem);
  justify-self: flex-start;
  color: lime;
}

.rematch-ready-btn,
.rematch-cancel-btn {
  font-size: clamp(0.5rem, 4vw, 2.5rem);
  background-color: forestgreen;
  padding: 25% 10%; /* Use percentage for padding */
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  width: fit-content;
  font-family: "Bungee", cursive;
  animation: logo-animation linear 4s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: logo-animation linear 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: logo-animation linear 4s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: logo-animation linear 4s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: logo-animation linear 4s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

.rematch-cancel-btn {
  background-color: red;
}

.rematch-exit-btn {
  font-size: clamp(0.5rem, 2vw, 1.25rem);
  background-color: black;
  font-family: "Bungee", cursive;
  color: white;
  border: 1px solid white;

  cursor: pointer;
  padding: 3% 5%;
}
